<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="https://golden-layout.com/assets/js/goldenlayout.min.js"></script>
        <link type="text/css" rel="stylesheet" href="https://golden-layout.com/assets/css/goldenlayout-base.css" />
        <link type="text/css" rel="stylesheet" href="https://golden-layout.com/assets/css/goldenlayout-dark-theme.css" />
        <link rel="stylesheet" href="instructor.css" />
        <script type="text/javascript" src="instructor.js" ></script>
    </head>

</html>

<!--
<!DOCTYPE html>
<html style="height: 100%;">

<body style="height: 100%;">
    <header style="background-color: red;display: block;height: 20%;width: 20%;"></header>
    <div style="background-color: orange;display: block;height: 20%;width: 20%;"></div>
</body>
</html>
-->

